<footer class="py-5 text-white"> 
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 ">
                <h3>About</h3>
                <ul class="list-unstyled">
                    <li><span> Designed By:</span> Sumaiya Yahia</li>
                    <li><span> Phone:</span> +02-01024523175</li>
                    <li><span> Email:</span> ssnjr14@gmail.com</li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-12 ">
                <h3>Contact</h3>
                <ul class="list-unstyled">
                    <li><span> Designed By:</span> Sumaiya Yahia</li>
                    <li><span> Phone:</span> + 02-01024523175</li>
                    <li><span> Email:</span> ssnjr14@gmail.com</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
