<footer class="py-5 text-white"> 
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 ">
                <h3>About</h3>
                <h5 class="pt-3">Sumaiya Yahia</h5>
                <p class="mt-1">I'm Sumaiya, I graduated from Faculty of Computers and Information Systems BNS University. Now, I'm a trainee at ITI and have experience in Front-end Development.</p>
            </div>
            <div class="col-md-6 col-sm-12 ">
                <h3>Contact</h3>
                <ul class="list-unstyled pt-3">
                    <li class="mb-2"><span> Designed By:</span> Sumaiya Yahia</li>
                    <li class="mb-2"><span> Phone:</span> + 02-01024523175</li>
                    <li class="mb-2"><span> Email:</span> ssnjr14@gmail.com</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
